mixin features(svgIcon, text)
    .about__inner-wrap.features
        .features__icon.about__icon
            img(src=svgIcon)
        .features__description=text

section.wrapper
    .about
        .about__title Магазин Глейси  — это онлайн и офлайн магазин по продаже мороженого собственного производства на развес
        +features('static/images/icons/icecream.svg','Все наше мороженое изготавливается на собственном производстве,с использованием современного оборудования и проверенных временм технологий')
        +features('static/images/icons/cow.svg','Закупка ингредиентов  производится только у проверенных фермерских хозяйств и компаний, с которыми нас связывает долговременное сотрудничество')
        +features('static/images/icons/leaf.svg','Для приготовления мороженого используются настоящие сливки и молоко высочайшего качества. Все дополнительные ингридиенты и добавки произведены из натурального, экологически чистого сырья')
        +features('static/images/icons/term.svg','Доставка нашего мороженого до заказчика осуществляется в специальном термопаке, который не дает мороженому растаять в пути и позволяет ему сохранить свой превосходный вкус')

