header.header.wrapper
    h1.visuallyHidden Магазин мороженого Глэйси
    .logo
        a(href="index.html")
            img(alt="Logo Glaccy" src="static/images/icons/logo.png" width="160" height="65")
    ul.menu
        a(href="catalog.html")
            li.menu__item.submenu Каталог
                ul.submenu__items
                    li.submenu__item.special Новинки
                    li.submenu__item Сливочное
                    li.submenu__item Щербеты
                    li.submenu__item Фруктовый лед
                    li.submenu__item Мелорин
        li.menu__item Доставка и оплата
        li.menu__item О компании
    .header__user-menu
        .header__innerWrap
            .icons.icons--search
                img(src="static/images/icons/icon-search.png")
            form.search.displayNone
                input(type="text" placeholder="Что ищем?")

            .icons.icons--persArea
                .icons--persArea-icon
                    img(src="static/images/icons/icon-enter.png")
                .icons--persArea-descr Вход
            form.pers-area(style="display:none")
                input.pers-area__input(type="email" placeholder="Электронная почта")
                input.pers-area__input(type="password" placeholder="Пароль")
                button(type="submit").button.pers-area__button Войти
                .pers-area__innerWrap
                    a(href="stub.html") Забыли пароль?
                    a(href="stub.html") Новая регистрация
            .icons.icons--cart
                .icons--cart-icon
                    img(src="static/images/icons/icon-cart.png")
                .icons--cart-descr Пусто
            .icons.icons--menu
                .icons--menu-icon
                    svg(height="100%" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" version="1.1" viewBox="0 0 24 24" width="100%" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink")
                        g(id="Icon")
                            path(d="M4,6.75l16,0c0.414,0 0.75,-0.336 0.75,-0.75c0,-0.414 -0.336,-0.75 -0.75,-0.75l-16,0c-0.414,0 -0.75,0.336 -0.75,0.75c0,0.414 0.336,0.75 0.75,0.75Z")
                            path(d="M4,12.75l16,0c0.414,0 0.75,-0.336 0.75,-0.75c0,-0.414 -0.336,-0.75 -0.75,-0.75l-16,0c-0.414,0 -0.75,0.336 -0.75,0.75c0,0.414 0.336,0.75 0.75,0.75Z")
                            path(d="M4,18.75l16,0c0.414,0 0.75,-0.336 0.75,-0.75c0,-0.414 -0.336,-0.75 -0.75,-0.75l-16,0c-0.414,0 -0.75,0.336 -0.75,0.75c0,0.414 0.336,0.75 0.75,0.75Z")
                .icons--menu-descr Меню
        .header__info.info-time С 10 до 20, ежедневно
        .header__info.info-phone 8 812 450-25-25
    