.header
  display grid
  grid-template-columns 150px 2fr 1fr
  column-gap 30px
  width: 100%
  @media screen and (min-width:280px) and (max-width:500px)
    grid-template-columns 1fr
    column-gap:0
  &__user-menu
    display: flex
    flex-wrap:wrap
    column-gap:10px
    justify-content: flex-end
    row-gap:10px
    font:700 14px/14px "robotomedium", sans-serif
    position: relative
    @media screen and (max-width:800px)
      grid-column-end -1
  &__info
    flex-basis 100%
    text-align: right
    @media screen and (min-width:280px) and (max-width:500px)
      text-align:left
  &__innerWrap
    display: flex;
    column-gap: 10px;
    position: relative
.menu
  display: flex
  justify-content: flex-start
  column-gap: 5px;
  row-gap:15px
  flex-wrap: wrap
  position: relative
  &__item
      list-style none
      text-decoration:underline;
      font:700 16px/16px "robotobold", sans-serif
      padding: 10px 15px
      position: relative
      align-self baseline
      &:hover
        background-color: rgba(255,255,255,0.5)
        cursor: pointer
        border-radius 5em
        text-decoration none
        color: #5a5a5a
  @media screen and (max-width:800px)
    order: 3
    grid-column : 1/-1
  @media screen and (max-width:470px)
    display:none
.submenu
  &__items
    display: none
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    background-color: #fcf0de
    color: #5a5a5a;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.5);
  & > :not(.special)
    font:16px/16px "robotobold", sans-serif
  &__item
    margin: 0
    padding: 5px 10px
    &:hover
      background-color: #fba398;
      &:first-child
        border-radius:10px 10px 0 0
      &:last-child
        border-radius:0 0 10px 10px


.icons
  &:not(.icons--menu)
    display: flex
  column-gap:8px
  background-color: rgba(255,255,255,0.3)
  border-radius:5em
  align-items: center
  justify-content: center
  &:hover
    background-color: rgba(255,255,255,0.5)
    cursor: pointer
  &--search
    width: 33px
    height: 33px
    position: relative
  &--persArea,
  &--cart
    padding:5px 15px
  &--menu
    display:none
    position: absolute
    padding:5px 15px
    &-icon
      fill:#fff
      width: 20px
      height:25px;
    @media screen and (max-width:470px)
      display: flex
      top: -50px
      right 0

.pers-area
  display: grid
  position: absolute
  padding: 15px 10px
  border-radius: 10px
  background-color: #f8f7f4
  row-gap 10px
  grid-template-columns 100px minmax(150px, 270px)
  column-gap:10px
  top: 40px;
  left: -90px;
  max-width: 270px;
  &__innerWrap > *
    display: block
    line-height: 20px
    color:#333
  &__button
    font-size: 14px
    padding: 0 10px
    border-radius:2em
    align-self center
  &__input
    width: 100%
    box-sizing border-box
    border-radius: 5px
    padding: 10px
    grid-column 1/-1


.search
  display: none
  padding: 10px
  border-radius:5px
  background-color: #f8f7f4
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.5);
  position: absolute
  top: 50px
  left: -230px
  width: 304px
  & > input
    border-radius:5px
    padding: 5px
    width: 100%
    box-sizing border-box

.info-phone
  font 700 22px/22px "robotobold", sans-serif

.special
  border-bottom 2px solid #333
.menu--mobile
  display: block
  position: absolute;
  top: 80px;
  background: rgba(255, 255, 255, 0.3) none repeat scroll 0% 0%;
  color: rgb(51, 51, 51);
  border-radius: 1em;
  text-align: right;
  right: 25px;