.header {
  display: grid;
  grid-template-columns: 150px 2fr 1fr;
  column-gap: 30px;
  width: 100%;
}
@media screen and (min-width: 280px) and (max-width: 500px) {
  .header {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}
.header__user-menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  justify-content: flex-end;
  row-gap: 10px;
  font: 700 14px/14px "robotomedium", sans-serif;
  position: relative;
}
@media screen and (max-width: 800px) {
  .header__user-menu {
    grid-column-end: -1;
  }
}
.header__info {
  flex-basis: 100%;
  text-align: right;
}
@media screen and (min-width: 280px) and (max-width: 500px) {
  .header__info {
    text-align: left;
  }
}
.header__innerWrap {
  display: flex;
  column-gap: 10px;
  position: relative;
}
.header a {
  color: inherit;
}
.header a:active,
.header a:visited {
  color: inherit;
}
.menu {
  display: flex;
  justify-content: flex-start;
  column-gap: 5px;
  row-gap: 15px;
  flex-wrap: wrap;
  position: relative;
}
.menu__item {
  list-style: none;
  text-decoration: underline;
  font: 700 16px/16px "robotobold", sans-serif;
  padding: 10px 15px;
  position: relative;
  align-self: baseline;
}
.menu__item:hover {
  background-color: rgba(255,255,255,0.5);
  cursor: pointer;
  border-radius: 5em;
  text-decoration: none;
  color: #5a5a5a;
}
@media screen and (max-width: 800px) {
  .menu {
    order: 3;
    grid-column: 1/-1;
  }
}
@media screen and (max-width: 470px) {
  .menu {
    display: none;
  }
}
.submenu__items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background-color: #fcf0de;
  color: #5a5a5a;
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.5);
}
.submenu > :not(.special) {
  font: 16px/16px "robotobold", sans-serif;
}
.submenu__item {
  margin: 0;
  padding: 5px 10px;
}
.submenu__item:hover {
  background-color: #fba398;
}
.submenu__item:hover:first-child {
  border-radius: 10px 10px 0 0;
}
.submenu__item:hover:last-child {
  border-radius: 0 0 10px 10px;
}
.icons {
  column-gap: 8px;
  background-color: rgba(255,255,255,0.3);
  border-radius: 5em;
  align-items: center;
  justify-content: center;
}
.icons:not(.icons--menu) {
  display: flex;
}
.icons:hover {
  background-color: rgba(255,255,255,0.5);
  cursor: pointer;
}
.icons--search {
  width: 33px;
  height: 33px;
  position: relative;
}
.icons--persArea,
.icons--cart {
  padding: 5px 15px;
}
.icons--menu {
  display: none;
  position: absolute;
  padding: 5px 15px;
}
.icons--menu-icon {
  fill: #fff;
  width: 20px;
  height: 25px;
}
@media screen and (max-width: 470px) {
  .icons--menu {
    display: flex;
    top: -50px;
    right: 0;
  }
}
.pers-area {
  display: grid;
  position: absolute;
  padding: 15px 10px;
  border-radius: 10px;
  background-color: #f8f7f4;
  row-gap: 10px;
  grid-template-columns: 100px minmax(150px, 270px);
  column-gap: 10px;
  top: 40px;
  left: -90px;
  max-width: 270px;
}
.pers-area__innerWrap > * {
  display: block;
  line-height: 20px;
  color: #333;
}
.pers-area__button {
  font-size: 14px;
  padding: 0 10px;
  border-radius: 2em;
  align-self: center;
}
.pers-area__input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  grid-column: 1/-1;
}
.search {
  display: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.5);
  position: absolute;
  top: 50px;
  left: -230px;
  width: 304px;
}
.search > input {
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}
.info-phone {
  font: 700 22px/22px "robotobold", sans-serif;
}
.special {
  border-bottom: 2px solid #333;
}
.menu--mobile {
  display: block;
  position: absolute;
  top: 80px;
  background: rgba(255,255,255,0.5) none repeat scroll 0% 0%;
  color: #333;
  border-radius: 1em;
  text-align: right;
  right: 25px;
  z-index: 2;
}
