/* Слайдер */
.hitsForSlick.slick-slider {
  min-width: 0;
  position: relative;
}
.hitsForSlick .slick-arrow {
  font-size: 0;
  width: 35px;
  height: 35px;
  position: absolute;
  margin: -50px 0 0 0;
  top: 50%;
  background-repeat: no-repeat;
  background-clip: border-box;
  background: url("../images/icons/arrow.svg");
  border: 0;
}
.hitsForSlick .slick-arrow.slick-prev {
  transform: rotate(-90deg);
  left: 0;
}
.hitsForSlick .slick-arrow.slick-next {
  transform: rotate(90deg);
  right: 0;
}
.hitsForSlick .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hitsForSlick .slick-dots li {
  background: #e74a35;
  border: 1px solid #ac1000;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
}
.hitsForSlick .slick-dots li.slick-active {
  background: #ac1000;
  border: 1px solid #e74a35;
}
.hitsForSlick .slick-dots button {
  font-size: 0;
  border: 0;
  background: transparent;
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
}
.hitsForSlick .slick-dots button:focus,
.hitsForSlick .slick-dots button:active {
  border: none;
  outline: none;
}
/* Слайдер запущен */
/* Слайдер с точками */
.slick-slider.slick-dotted,
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
}
/* Слайд */
.slick-slide {
  margin: 0 20px;
}
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
