.footer
  min-height: 50px
  display: grid
  grid-template-columns min-content 1fr max-content
  column-gap:10px;
  @media screen and (max-width:600px)
    grid-template-columns min-content 2fr 1fr
  @media screen and (max-width:481px)
    grid-template-columns 1fr
    row-gap 10px
  &__menu
    display grid
    column-gap:30px
    row-gap:5px
    grid-template-columns:1fr 1fr
    max-width:330px
    justify-self:center
    @media screen and (max-width:600px)
      column-gap:0
      grid-template-columns:1fr
    @media screen and (max-width:480px)
      grid-template-columns: repeat(2,1fr);
      width: 100%;
      max-width 100%
  &__item
    text-decoration: underline
    position: relative
    font: 13px/15px "robotoregular",sans-serif
    &:hover:before
      content url('../images/icons/icon-heart.svg')
      width: 15px
      height: 15px
      position: absolute
      left: -20px
    &:hover
      font: 700 13px/15px "robotobold",sans-serif
      cursor: pointer
.social > li
  border-radius:50%
  height: 39px
  width: 39px
  background-color: transparent
  border: 3px solid rgba(255,255,255,0.5);
  display: flex;
  @media screen and (max-width:600px)
    height: 20px
    width: 20px
    flex-wrap wrap
.social
  display: flex
  gap:10px;
  place-items center
  &__item
    position: relative
    & > img
      width: 100%
    &:hover
      background-color:rgba(0,255,170, 0.5)
