footer.footer.wrapper
    ul.footer__social.social
        li.social__item
            img(alt="socialnetworks" src="static/images/icons/icon-tw.svg")
        li.social__item
            img(alt="socialnetworks" src="static/images/icons/icon-inst.svg")
        li.social__item
            img(alt="socialnetworks" src="static/images/icons/icon-fb.svg")
        li.social__item
            img(alt="socialnetworks" src="static/images/icons/icon-vk.svg")
    ul.footer__menu
        li.footer__item Для поставщиков
        li.footer__item Наши документы
        li.footer__item О производстве
        li.footer__item Экологические стандарты
    .footer__info.created
        img.created__logo(src="static/images/icons/icon-logo.svg" alt="HTMLAcademy logo")
        .created__info Сделано в HTML Academy
