.galleryForSlick
    .slick-slide
        min-height:calc(100vh - 40px);
    .slick-dots
        display:flex  
        column-gap: 5px        
        & button
            font-size 0
            border:2px solid #fff
            width 15px
            height 15px;
            border-radius 50%
            background-color transparent
            
        & > .slick-active > button
            background-color green
            border:2px solid #fff
