section.slider.wrapper
    h2.visuallyHidden Слайдер с выбором мороженого
    .slider__radio.radio
        .radio__inner-wrap
            input.radio__input.visuallyHidden(type="radio" name="gallery" id="slide1" checked )
            label.radio__label(for="slide1")
        .radio__inner-wrap
            input.radio__input.visuallyHidden(type="radio" name="gallery" id="slide2")
            label.radio__label(for="slide2")
        .radio__inner-wrap
            input.radio__input.visuallyHidden(type="radio" name="gallery" id="slide3")
            label.radio__label(for="slide3")
    .slider__slide.slide
        img.slide__image(width="640" height="640" alt="IceCream" src="static/images/content/1.png")
        h3.slide__title Крем-брюле и пломбир с малиновым джемом
        button.slide__button.button Давайте оба!
        .slide__gradient

