.email
  background: repeating-linear-gradient(
  -45deg,#92cdff, #92cdff 10px, #f8f7f4 10px, #f8f7f4 20px,
  #fe9e90 20px, #fe9e90 30px, #f8f7f4 30px, #f8f7f4 40px);
  border-radius: 20px
  padding: 5px
.emailing
  color:#5a5a5a
  height: 100%
  width: 100%
  box-sizing border-box
  background-color: #f8f7f4
  padding: 25px 15px
  border-radius:20px
  font: 16px/22px "robotoregular",sans-serif
  display: flex
  flex-wrap wrap
  &__text
    margin-bottom: 40px
    flex-basis 100%
  &__input[placeholder]
    color:#999
  &__input
    border 1px solid #999
    padding: 15px 10px
    border-radius:10px
    flex-grow 2
  &__button
    font:700 17px/24px "robotobold",sans-serif
    margin-left: 15px