section.email
    h2.visuallyHidden Е-мейл рассылка
    form.emailing
        .emailing__text Подпишитесь на нашу сладкую рассылку и будете всегда в курсе всего&nbsp
            | самого вкусного, что у нас происходит. Обещаем не спамить и не слать всякой ненужной ерунды. Честно =)
        input.emailing__input(type="email" placeholder="Электронная почта")
        button.emailing__button.button(type="submit") Отправить



