extends ../includes/layout/main.pug

block variables
    -var title = 'Gllacy - Каталог'

block content
    include ../includes/catalog/1 Breadcrumps/bc
    include ../includes/catalog/2 Sorting/sorting
    include ../includes/catalog/3 Items/items

