extends ../includes/layout/main.pug

block variables
	-var title = 'Gllacy'

block content
	//include ../includes/index/1 slider/slider
	include ../includes/index/2 promo/promo
	include ../includes/index/3 hits/hits
	include ../includes/index/4 about/about
	.index-columns.wrapper
		include ../includes/index/5 blog/blog
		include ../includes/index/6 emailing/emailing
	include ../includes/index/7 map/map


