section.promos.wrapper
    h2.visuallyHidden Акции
    aside.promos__inner-wrap.promo.raspberry
        h3.promo__title Малинка даром!
        p.promo__description При покупке 2 кг любого фруктового мороженого,
            | добавим в ваш заказ банку малинового варенья бесплатно.
        bitton.promo__btn.button Хочу варенье!
    aside.promos__inner-wrap.promo.choko
        h3.promo__title Шоколадки даром!
        p.promo__description При покупке 2 кг пломбира, добавим в ваш заказ упаковку вкуснейшей
            | шоколадной присыпки совершенно бесплатно.
        button.promo__btn.button Хочу шоколадки!


