.info
  max-width: 304px
  padding:34px 27px
  background-color: #fff
  border-radius:10px;
  color:#323232;
  font: 14px/20px "robotoregular",sans-serif
  margin-left: auto
  margin-top: 60px;
  margin-bottom: 60px;
  @media screen and (max-width:700px)
    margin 0
  &__adress,
  &__phone
    font:700 18px/24px "robotobold", sans-serif
    @media screen and (max-width:700px)
      font:700 14px/18px "robotobold", sans-serif
  &__button
    font:700 17px/24px "robotobold", sans-serif
    @media screen and (max-width:700px)
      font:700 12px/2px "robotobold", sans-serif
  &__adress-title
    margin-bottom: 10px
  &__adress,
  &__alt-info
    margin-bottom: 30px
    @media screen and (max-width:700px)
      margin-bottom:10px
  &__phone-title,
  &__phone
    margin-bottom: 15px
.map +
.wrapper
  display: flex
  justify-content: flex-end
.map
  position: relative
  background rgba(255,255,255,0.7) url('../images/content/map.png') no-repeat
  background-size cover
  &__pin
    position: absolute
    width 81px
    height: 170px
    z-index: 2
    left: 310px;
    top: 170px;

