section.map
    noscript
        img.map__pin(src="static/images/icons/icon-pin.svg" width="87" height="140")
    .wrapper
        aside.map__info.info
            .info__adress-title Адрес главного офиса и офлайн магазина:
            .info__adress ул. Большая Конюшенная 19/8, Санкт-Петербург
            .info__phone-title Для заказов по телефону:
            .info__phone 8 812 450-25-25
            .info__alt-info (с 10 до 20 ежедневно)
            button.info__button.button Форма обратной связи
        .info__close Закрыть описание
            //svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 15 15" shape-rendering="geometricPrecision" text-rendering="geometricPrecision")
            //    g
            //        line(x1="-5" y1="-5" x2="5" y2="5" transform="translate(7.434688 7.345167)" fill="none" stroke="#ffffff" stroke-width="2.3" stroke-linecap="round" stroke-linejoin="bevel")
            //        line(x1="5" y1="5" x2="-5" y2="-5" transform="matrix(0 1-1 0 7.434688 7.345167)" fill="none" stroke="#ffffff" stroke-width="2.3" stroke-linecap="round" stroke-linejoin="bevel")

