.info
  max-width: 304px
  padding:34px 27px
  background-color: #fff
  border-radius:10px;
  color:#323232;
  font: 14px/20px "robotoregular",sans-serif
  margin-left: auto
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative
  @media screen and (max-width:700px)
    margin 0
  &__adress,
  &__phone
    font:700 18px/24px "robotobold", sans-serif
    @media screen and (max-width:700px)
      font:700 14px/18px "robotobold", sans-serif
  &__button
    font:700 17px/24px "robotobold", sans-serif
    @media screen and (max-width:700px)
      font:700 12px/20px "robotobold", sans-serif
  &__adress-title
    margin-bottom: 10px
  &__adress,
  &__alt-info
    margin-bottom: 30px
    @media screen and (max-width:700px)
      margin-bottom:10px
  &__phone-title,
  &__phone
    margin-bottom: 15px
  &__close
    display:none
    font:700 12px/20px "robotobold", sans-serif
    width: 15px;
    height: 93%;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to bottom,#f26843,#e74a35);
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    &:hover
      background: linear-gradient(to top, #f26843, #e74a35)
      cursor: pointer
    @media screen and (max-width:600px)
      display: block
.map +
.wrapper
  display: flex
  justify-content: flex-end
.map
  position: relative
  background rgba(255,255,255,0.7) url('../images/content/map.png') no-repeat
  background-size cover
  min-height: 360px
  width: 100%
  &__pin
    position: absolute
    width 81px
    height: 170px
    z-index: 2
    left: 310px;
    top: 170px;

