.blog {
  border-radius: 20px;
  background: #fff url("../images/common/blog_bg.png") no-repeat 75px 50%;
  padding: 30px 20px;
}
.blog__innerWrp {
  max-width: 300px;
}
.blog__title {
  font: 700 16px/16px "robotomedium", sans-serif;
  color: #5a5a5a;
  margin-bottom: 15px;
}
.blog__link {
  color: #353535;
  font: 700 24px/30px "robotobold", sans-serif;
}
